 body{
    padding:0%;
    margin:0;
    border:0;
 }
 a,a:active,a:hover,a:link, a:visited,.side-icons-text {
    text-decoration: none;
    border: none;
    outline: none;
    color:white;
    background-color: transparent;
 } 

 .navbar{
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: black;
    width: 5%;
    padding-left: 1%;
}

.navbar-header{
    position: fixed;
    width: 5%;
    top: -80%;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
    font-size: 100%;
    color:white;
}

.navbar-icons {
    position: fixed;
    width: 5%;
    top: 0;
    left: -30px;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.navbar-icons{
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.navbar-item{
    padding-top: 15%;
    padding-bottom: 15%;
    list-style-type: none;
    margin: 0;
    font-size: 80%;
    color:white;
}