a,a:active,a:hover,a:link, a:visited,.side-icons-text {
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
 }

 .navbar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    align-content: center;
  }

  .navLogo{
    padding: 10px;
    width: 30px;
  }
  
  .navbar-list{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .navbar a {
    padding-top: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    display: block;
  }
  